@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}

:root {
  --black: #272727;
  --gray: #dbdbdb;
  --bg-gray: #f5f5f5;
  --silver: #c0c0c0;
}

@keyframes rotateSneaker {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-30deg);
  }
}

@keyframes appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
